/* CSS Document */
/*********************ͨ��ҳ����ʽ********************/
html,body,div,p,ul,li,h1,h2,h3,h4,h5{
	list-style:none;
	padding:0;
	margin:0;
}
*{
	list-style:none;
	padding:0;
	margin:0;
}
/*************************ͨ��ҳ����ʽ***************/
/*************************ͨ��װ����1****************/
.bgsgl_right_list_border{
	border-bottom: solid 4px #99A7BE;
	height:24px;
	padding-top:6px;
	clear:both;
	width:100%;
}
.bgsgl_right_list_left{
	float:left;
	width:40%;
	background:url(../images/border_list_bne.jpg) left center no-repeat;
	padding-left:12px;
	color:#808080;
	font-size:16px;
	font-family:"΢���ź�";
	font-weight:bold;
}
.bgsgl_right_left_move{
	float:right;
	width:50%;
	text-align:right;
	padding-right:10px;
}
/************************ͨ��װ����1*********************/
/************************ͨ��װ����2*********************/
.bgsgl_clear{
	clear:both;
	height:1px;
}
.bgsgl_border_left{
	background:url(../images/border_right.jpg) right top no-repeat;
}
.bgsgl_border_right{
	background:url(../images/border_left.jpg) left top no-repeat;
	height:36px;
	line-height:36px;
	font-family:"΢���ź�";
	font-size:18px;
	font-weight:bold;
	color:#fff;
	padding-left:30px;
}
.bgsgl_conter{
	border:solid 1px #7F90B3; 
	padding:10px;
}
/************************ͨ��װ����2*********************/
/************************ͨ�ñ?��ʽ******************/
.from_css{
	width:744px;
	padding:10px;
	margin:0 auto;
}
.input_from{
	width:236px;
	border:none;
	background:#EEEFF3;
	padding-left:10px;
	height:25px;
	line-height:25px;
	color:#818284;
}
.from_table td{
	padding:10px 0;
	font-size:14px;
	color:#808080;
}
.from_table_td{
	text-align:right;
}
.botton_from{
	text-align:center;
	margin:10px 0;
}
.botton_from a{
	width:110px;
	height:32px;
	display:inline-block;
	background:#8090B2;
	color:#fff;
	font-family:"΢���ź�";
	font-size:18px;
	font-weight:bold;
	text-decoration:none;
	line-height:32px;
	margin:0 20px;
}
/************************ͨ�ñ?��ʽ******************/
/**********************��Ա����Ϣ*******************/
.inform_index{
	width:100%;
}
.infrom_input{
	width: 100%;
	height:20px;
	line-height:20px;
	list-style:none;
}
.infrom_input_s{
	width: 60%;
	height:20px;
	line-height:20px;
	list-style:none;
	margin:0;
}
.infrom_input_s1{
	width: 40.6%;
	height:20px;
	line-height:20px;
	list-style:none;
	margin:0;
}
.infrom_select{
	width:120px;
	height:20px;
	line-height:20px;
	list-style:none;
}
.infrom_ryjbxx{
	background:#F6F5F1;
	margin:10px 0;
}
.infrom_td{
	text-align:right;
	padding:10px 0;
	color:#808080;
	font-size:13px;
	padding-right:10px;
	}
.infrom_a{
	width:30%;
	height:19px;
	line-height:19px;
	display:inline-block;
	background:#8090B2;
	color:#fff;
	font-family:"΢���ź�";
	font-size:14px;
	font-weight:bold;
	text-align:center;
	float: right;
	text-decoration:none !important;
}
.infrom_a:hover{
	width:30%;
	height:19px;
	line-height:19px;
	display:inline-block;
	background:#ffc600;
	color:#fff;
	font-family:"΢���ź�";
	font-size:14px;
	font-weight:bold;
	text-align:center;
	float: right;
	text-decoration:none !important;
}
.infrom_a1{
	width:8.8%;
	height:19px;
	line-height:19px;
	display:inline-block;
	background:#8090B2;
	color:#fff;
	font-family:"΢���ź�";
	font-size:14px;
	font-weight:bold;
	text-align:center;
	float: right;
	text-decoration:none !important;
}
.infrom_td1{
	text-align:left;
	padding:10px 0;
	color:#808080;
	font-size:14px;
	padding-right:10px;
	}
.infrom_borders{
	border-top:solid 1px #8090B2;
	font-size:12px;
	color:#808080;
	padding:10px 0;
	margin: 0 10px;
}
.infrom_checkbox{
	font-size:12px;
	color:#fff;
	width:63px;
	height:17px;
	line-height:17px;
	background:#FFC600;
	display:inline-block;
	font-weight:bold;
	text-decoration:none !important;
	text-align:center;
	}
.infrom_as{ 
	font-size:12px;
	color:#fff;
	width:63px;
	height:17px;
	margin-right:20px;
	line-height:17px;
	background:#8090b2;
	display:inline-block;
	font-weight:bold;
	text-decoration:none !important;
	text-align:center;
	}
.infrom_as_td{
	text-align:left;
}
.infrom_mesus_td{
	padding:6px 0;
	padding-left:12px;
	font-size:13px;
	color:#808080;
}
.infrom_mesu{
	background:url(../images/list_foer.jpg) left center no-repeat;
	padding-left:5px;
	color:#8090B2;
	font-weight:bold;
	font-size:14px;
	margin:10px 0;
}
.room_list_container{
	width:100%;
	height:300px;
	overflow-x:hidden;
	overflow-y:auto;
	margin: 10px 0;
}
.room_list_container td{
	height:20px;
	line-height:20px;
	text-align:center;
	font-family:Arial, Helvetica, sans-serif;
	font-weight:bold;
	color:#7f90b3;
	border-right: solid 1px #fff;
}
.room_list_container td.ok{
	background:#C8DDB6;
}
.room_list_container td.ng{
	background:#EBCDCD;
}
.room_list_container tr.odd{
	background:#ecebe4;
}
.room_list_container tr.even{
	background:#f6f5f1;
}
.buttonFinish{
	width:110px;
	height:32px;
	line-height:32px;
	text-decoration:none !important;
	text-align:center;
	display:block;
	color:#fff;
	background:#ffc600;
	font-family:"΢���ź�";
	font-weight:bold;
	font-size:18px;
	margin:auto;
}
.win_title{
	text-align:center;
	font-size:18px;
	font-family:"΢���ź�";
	font-weight:bold;
	color:#7f90b3;
	height:20px;
	line-height:20px;
	margin: 10px 0;
}
.auth_color span{
	font-size:12px;
	font-weight:bold;
	color:#7f90b3;}
.auth_color{
	padding:4px;
	border-top:solid 1px #7f90b3;
	margin-top:0px;}
.wizard_grbne.ok{
	width:38px;
	height:12px;
	display:inline-block;
	margin-right:10px;
	background:#C8DDB6;
}
.wizard_grbne.ng{
	width:38px;
	height:12px;
	display:inline-block;
	margin-right:10px;
	background:#EBCDCD;
}
/**********************��Ա����Ϣ*******************/
