/* ����ͼƬ */
body
{
	width:100%;
	height:100%;
	overflow:auto;
	text-align:center;
}
*{margin:0;padding:0;}
.main
{
	width:1300px;
	text-align:center;
	margin-top:10px;
	margin-left:auto;
	margin-right:auto;
}
.main_left
{
	width:561px;
	border:1px solid #87aaed;
	float:left;
}
.main_left_top
{
	width:561px;
	height:30px;
	line-height:30px;
	background:url(../images/header_bg.png) 0 0 repeat-x;
}
.main_left_main
{
	width:561px;
	height:710px;
}
.main_left_main_top
{
	width:561px;
	height:171px;
	background:url(../images/main_left_main_top_bg.png) 0 0 repeat-x;
	border-bottom:1px solid #87aaed;
}
.main_left_main_bottom
{
	width:561px;
	height:539px;
	overflow:hidden;
}
.main_right
{
	float:left;
	margin-left:5px;
	width:730px;
}
.main_right_top
{
	width:728px;
	border:1px solid #87aaed;
	margin-bottom:5px;
}
.main_right_top_top
{
	width:728px;
	height:30px;
	line-height:30px;
	background:url(../images/header_bg.png) 0 0 repeat-x;
}
.main_right_top_main
{
	width:728px;
	height:353px;
	background:url(../images/main_right_top_main.png) 0 0 no-repeat;
}
.main_right_bottom1
{
	width:276px;
	border:1px solid #87aaed;
	float:left;
	margin-right:7px;
}
.main_right_bottom1_top
{
	width:276px;
	height:30px;
	line-height:30px;
	background:url(../images/header_bg.png) 0 0 repeat-x;
}
.main_right_bottom1_main
{
	width:276px;
	height:320px;
	background:url(../images/main_right_bottom1_main.png) 0 0 no-repeat;
}
.main_right_bottom2
{
	width:443px;
	border:1px solid #87aaed;
	float:left;
}
.main_right_bottom2_top
{
	width:443px;
	height:30px;
	line-height:30px;
	background:url(../images/header_bg.png) 0 0 repeat-x;
}
.main_right_bottom2_main
{
	width:443px;
	height:320px;
	background:url(../images/main_right_bottom2_main.png) 0 0 no-repeat;
}
.tip
{
	float:left;
	width:17px;
	height:18px;
	margin:5px 5px 0 10px;
	background:url(../images/tip.png) 0 0 no-repeat;
}
.tip_span
{
	float:left;
	font-size:14px;
	color:#003366;
	font-weight:bold;
}