<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
            http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd"
       default-lazy-init="true">
	
	<!-- 我的来访	  zh	 2013-3-17-->
	<bean id="myVisitAction" class="com.cosmosource.app.caller.action.MyVisitAction" scope="prototype">    
    	<property name="myVisitManager" ref="myVisitManager"/>
    	<!-- 市民卡	  zh	 2013-3-17-->
    	<property name="personCardQueryToAppService" ref="personCardQueryToAppService"/>
    	<property name="messageService" ref="messageService" />
    </bean>
	<bean id="myVisitManager" class="com.cosmosource.app.caller.service.MyVisitManager" parent="manager">
		<!-- 设备权限	  zh	 2013-3-17-->
		<property name="devicePermissionToApp" ref="devicePermissionToApp"></property>
		<!-- 短信发送	  zh	 2013-3-17-->
		<property name="smsSendMessage" ref="smsSendMessage"></property>
		<!-- 市民卡	  zh	 2013-3-17-->
    	<property name="personCardQueryToAppService" ref="personCardQueryToAppService"/>
	</bean>
</beans>