@charset "utf-8";
/* CSS Document */
.member_left{
	width:198px;
	height:400px;
	float:left;
	border-right:1px solid #e8e8e8;
	margin-top:10px;
}
.member_right{
	width:524px;
	height:400px;
	float:right;
	margin-top:10px;
}
.member_list{
	width:100%;
	margin-top:40px;
}
.member_nav1{
	width:179px;
	height:55px;
	display:block;
	background:url(../images/member_left_list1.jpg) left top no-repeat;
}
.member_nav1:hover{
	width:179px;
	height:55px;
	display:block;
	background:url(../images/member_left_hover1.jpg) left top no-repeat;
}
.member_nav1.selected{
	width:179px;
	height:55px;
	display:block;
	background:url(../images/member_left_hover1.jpg) left top no-repeat;
}
.member_nav2{
	width:179px;
	height:55px;
	display:block;
	background:url(../images/member_left_list2.jpg) left top no-repeat;
}
.member_nav2:hover{
	width:179px;
	height:55px;
	display:block;
	background:url(../images/member_left_hover2.jpg) left top no-repeat;
}
.member_nav2.selected{
	width:179px;
	height:55px;
	display:block;
	background:url(../images/member_left_hover2.jpg) left top no-repeat;
}
.member_nav3{
	width:179px;
	height:55px;
	display:block;
	background:url(../images/member_left_list3.jpg) left top no-repeat;
}
.member_nav3:hover{
	width:179px;
	height:55px;
	display:block;
	background:url(../images/member_left_hover3.jpg) left top no-repeat;
}
.member_nav3.selected{
	width:179px;
	height:55px;
	display:block;
	background:url(../images/member_left_hover3.jpg) left top no-repeat;
}
.member_form_txt{
	text-align:right;
	font-size:14px;
	color:#808080;
	width:30%;
}
.member_form_input{
	width:220px;
	height:22px;
	line-height:22px;
	color:#808080;
}
.member_form_input_short{
	width:150px;
	height:24px;
	line-height:24px;
	color:#808080;
	background:#eeeff3;
	border:none;
}
.show_from_member{
	margin:auto auto;}
.show_from_member tr{
}
.show_from_member td{
	padding:10px 0;
}
.member_gzsm{
	font-size:12px;
	color:#7f8fb3;
	text-decoration:none;
}
.member_form_inp_uts{
	width:220px;
	height:24px;
	line-height:24px;
	color:#808080;
	background:#eeeff3;
	border:none;
}
.member_form_inp_textarea{
	width:220px;
	line-height:24px;
	height:72px;
	color:#808080;
	background:#eeeff3;
	border:none;
	resize:none;
}
.form_update_btn{
	width:60px;
	height:24px;
	line-height:24px;
	color:#fff;
	text-decoration:none;
	background:#8090b2;
	display:block;
	margin-left:0;
	margin-right:10px;
	text-align:center;
	font-family:"微软雅黑";
	font-size:14px;
	font-weight:bold;
	}
.form_update_btn:hover{
	width:60px;
	height:24px;
	line-height:24px;
	margin-left:0;
	margin-right:10px;
	color:#fff;
	text-decoration:none;
	background:#ffc702;
	display:block;
	text-align:center;
	font-family:"微软雅黑";
	font-size:14px;
	font-weight:bold;
	}