<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
            http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd"
	default-lazy-init="true">
	<!-- 管理局管理 -->
	<bean id="propertyAction"
		class="com.cosmosource.app.personnel.action.PropertyAction"
		scope="prototype">
		<property name="propertyManager" ref="propertyManager"/>
	</bean>
	<bean id="propertyManager"
		class="com.cosmosource.app.personnel.service.PropertyManager"
		parent="manager">
	</bean>
	
	<!-- 管理局门禁闸机管理Action HJ 2013-8-16-->
    <bean id="njhwAccessMgrAction" class="com.cosmosource.app.personnel.action.NjhwAccessMgrAction" scope="prototype">    
    	<property name="accessMgrManager" ref="accessMgrManager"/>
   	</bean>
   	<!-- 管理局门禁闸机管理Manager HJ 2013-8-16-->
    <bean id="njhwAccessMgrManager" class="com.cosmosource.app.personnel.service.NjhwAccessMgrManager" parent="manager">
    </bean>  
</beans>
