body {
	scrollbar-face-color: #eaf4fd;
	scrollbar-highlight-color: #fff;
	scrollbar-shadow-color: #dee3e7;
	scrollbar-3dlight-color: #d1d7dc;
	scrollbar-arrow-color: #069;
	scrollbar-track-color: #efefef;
	scrollbar-darkshadow-color: #98aab1;
	overflow: auto;
	background-color: #fff;
	margin: 0;
	padding: 0;
}

caption {
	font-size: 14px;
	font-weight: bold;
	background-color: #fff
}

/*a:link {
    text-decoration: underline;
}

a:hover {

}

a:visited {

    text-decoration: underline;
}
a{
    color: #4c83ec;
}**/
.button {
	height: 20px;
	BORDER-RIGHT: #7b9ebd 1px solid;
	PADDING-RIGHT: 0;
	BORDER-TOP: #7b9ebd 1px solid;
	PADDING-LEFT: 0;
	FONT-SIZE: 12px;
	FILTER: progid:DXImageTransform.Microsoft. Gradient(GradientType =  
 0, StartColorStr =  
 #ffffff, EndColorStr =  
 #cecfde);
	BORDER-LEFT: #7b9ebd 1 px solid;
	CURSOR: hand;
	COLOR: black;
	PADDING-TOP: 2 px;
	BORDER-BOTTOM: #7b9ebd 1 px solid
}

.textbox {
	border: 1px solid #016f87;
	background: #fff
}

hr {
	color: #01b7de;
	background: #fff;
	height: 2px;
	border-bottom: 1px solid #fff;
	width: 98%
}

.workarea {
	background: #f3f9fa;
	border: 1px solid #75b5c3
}

.workarea .workarea_title {
	background: #e3f0f2;
	height: 27px;
	border-bottom: 1px solid #75b5c3;
	padding-left: 18px
}

h3 {
	display: inline;
	font-weight: bold;
	color: #fe6c00
}

.panel_head {
	background: #bfc9cd;
	height: 22px;
	font-weight: bold;
	border: 0;
	color: #000;
	padding-left: 20px
}

.panel_body {
	border: 1px solid #87aaed;
	background: #e8f3fc
}

.table {
	background: #ecece4;
	border-collapse: collapse;
	border: 1px solid #aec2cd;
	width: 100%
}

.table tr td,.table tr th {
	height: 30px;
	padding: 0 3px
}

.table tr td {
	color: #808080;
}

.table tr th {
	border-top: none;
	height: 32px;
	vertical-align: middle;
	text-align: center;
	color: #6699CC;
	font-weight: bold;
	font-size: 14px;
	font-family: "寰蒋闆呴粦";
}

.table tr .default_fist {
	color: #7f90b3;
	font-weight: bold;
	font-size: 14px;
	font-family: "寰蒋闆呴粦";
	border-top: none;
	height: 32px;
	vertical-align: middle;
	text-align: center;
}

.table_row {
	background: #ebf3f5
}

.table_selectRow {
	background: #cddee6
}

.command_sort_area {
	padding: 2px 0 5px 8px;
	background: #f5f5f5
}

.command_sort_area h4 {
	float: right;
	padding-right: 8px;
	margin-top: -18px
}

.form_table {
	
}

.form_table td {
	height: 25px;
	color: #2D374B;
}

.form_table tr {
	border-bottom: 1px solid #87AAED;
}

.form_table td input {
	height: 18px;
}

.form_bottom {
	padding: 10px 0 5px 8px;
	text-align: center;
	background: #f6f5f1;
	height: 50px;
}

.form_label {
	text-align: right;
}

.hd-inner,.inner {
	display: block;
	padding: 6px 2px 2px 3px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	-o-text-overflow: ellipsis
}

.panel-title {
	font-size: 10pt;
	color: #808080;
	font-weight: bold;
}

.panel-header .panel-title {
	background: none;
}

.panel-title-right {
	background-image: url('../images/panel/head_bg_right.png');
	width: 4px;
	overflow: hidden;
	float: left;
	height: 29px;
	margin-top: 0;
	background-repeat: repeat-x;
	background-position: 0 0;
}

.panel-title-left {
	/**background-image: url('../images/panel/head_bg_left.png');**/
	width: 4px;
	overflow: hidden;
	float: left;
	height: 29px;
	margin-top: 0;
	background-repeat: repeat-x;
	background-position: 0 0;
}

.panel-table {
	font-size: 9pt;
	margin-bottom: 10px;
	background: #f6f5f1;
}

.panel-body {
	/* border-top: 1px solid #87AAED;*/
	
}

.panel-body table {
	border: 0;
}

.PANEL_OPEN_BUTTON {
	width: 20px;
	height: 20px;
	cursor: hand;
	background-image: url('../images/panel/arrow_down.png');
	background-repeat: no-repeat;
	background-position: center;
}

.PANEL_CLOSE_BUTTON {
	width: 20px;
	height: 20px;
	cursor: hand;
	background-image: url('../images/panel/arrow_right.png');
	background-repeat: no-repeat;
	background-position: center
}

.PANEL_HEAD {
	background: #4c96a6;
	height: 22px;
	font-weight: bold;
	border: 0;
	color: #000;
	padding-left: 20px
}

.input180box {
	background-color: #fff;
	width: 180px
}

.input75box {
	background-color: #fff;
	border: 1px solid #5d67af;
	width: 75px
}

.filebox250 {
	background-color: #fff;
	border: 1px solid #5d67af;
	width: 250px
}

.fileboxclear65 {
	background-color: buttonface;
	border: 1px solid #5d67af;
	width: 65px;
	height: 19px
}

.form_hover_label {
	background: #fff;
	border: 2px solid #68a8df
}

.select_hover_label {
	background: #e0ebff;
}

.radio_hover_label {
	border: 1px solid #5d67af
}

.oddhighlight {
	background: #ccdcfa;
	height: 30px;
}

.evenhighlight {
	background: #ccdcfa;
	height: 30px;
}

.oddselected {
	background: #ffedc4;
	height: 30px;
}

.evenselected {
	background: #ffedc4;
	height: 30px;
}

.icon-xbjbutton {
	background: url('images/xbj.gif') no-repeat;
	background-color: Transparent;
	width: 46;
	height: 22;
	border: 0;
	font-size: 12px;
	color: #585858;
	padding: 5px 5px;
	margin: 0;
	outline: 0;
	overflow: visible;
	vertical-align: top;
	cursor: pointer
}

.icon-dbjbutton {
	background: url('images/bj.gif') no-repeat;
	background-color: Transparent;
	width: 62;
	height: 22;
	border: 0;
	font-size: 12px;
	color: #585858;
	padding: 5px 5px;
	margin: 0;
	outline: 0;
	overflow: visible;
	vertical-align: top;
	cursor: pointer
}

.icon-loding {
	display: inline-block;
	width: 200px;
	top: 0;
	left: 10px;
	padding: 3px 3px 3px 14px;
	border: 1px solid #40b3ff;
	background: #e5f5ff url('images/loading.gif') no-repeat scroll 0 3px;
	z-index: 9900001;
	font-size: 11px;
	color: #000
}

.sort_table {
	border-collapse: collapse;
	border: 1px solid #9fbdd3;
	background: #f3f8fc;
	padding-left: 5px
}

.sort_table td {
	height: 25px;
	border: 1px solid #9fbdd3
}

#listCnt {
	WIDTH: 100%;
	HEIGHT: auto;
	OVERFLOW: auto;
	OVERFLOW-y: auto;
	border: 0 solid #000;
	scrollbar-face-color: #9ebfe8;
	scrollbar-shadow-color: #fff;
	scrollbar-highlight-color: #fff;
	scrollbar-3dlight-color: #9ebfe8;
	scrollbar-darkshadow-color: #9ebfe8;
	scrollbar-track-color: #fff;
	scrollbar-arrow-color: #fff
}

div.exportlinks {
	margin: -5px 0 10px 10px;
	padding: 2px 4px 2px 0;
	width: 100%
}

div.exportlinks a {
	text-decoration: none
}

div.exportlinks span {
	margin-top: 20px;
	background-repeat: no-repeat
}

span.csv {
	background-image: url(../images/ico_file_csv.png)
}

span.excel {
	background-image: url(../images/ico_file_excel.png)
}

span.pdf {
	background-image: url(../images/ico_file_pdf.png)
}

span.xml {
	background-image: url(../images/ico_file_xml.png)
}

span.export {
	cursor: pointer;
	display: inline-block;
	padding: 0 4px 1px 20px
}

span.pagebanner {
	display: none;
	margin: 0;
	padding: 0
}

span.pagelinks {
	display: none;
	font-size: .95em;
	margin-bottom: 5px;
	margin-top: -18px;
	padding: 2px 0 2px 0;
	text-align: right;
	width: 80%
}

th.sorted a,th.sortable a {
	background-position: right;
	display: block
}

.table th.order1 a {
	background-image: url(../images/arrow_down.png) !important
}

.table th.order2 a {
	background-image: url(../images/arrow_up.png) !important
}

div#main .tableHeaderImage {
	position: absolute;
	margin: 2px 0 0 -5px;
	background: transparent;
	border: 0
}

.table th.sorted {
	background-color: #ffd;
	color: #000
}

.table th.sorted a,.table th.sortable a {
	background-position: right;
	background-repeat: no-repeat;
	display: block;
	text-decoration: none;
	color: #6699CC;
}

.table tr.even {
	background: #f6f5f1;
	color: #000;
	height: 30px;
	border-bottom: dotted 1px #c7c6c2;
}

.table thead {
	height: 30px;
}

.table tr.odd {
	background: #f6f5f1;
	color: #000;
	height: 30px;
	border-bottom: dotted 1px #c7c6c2;
}

.table tr.over {
	border-bottom: 1px solid #c0c0c0;
	border-top: 1px solid #c0c0c0;
	color: #000;
	cursor: pointer
}

.detail th {
	text-align: right
}

.HT_tables {
	background: #f7fdfd;
	border-collapse: collapse;
	border: 0 solid #aec2cd;
	width: 100%
}

.HT_tables tr td,.HT_tables tr th {
	border: 1px solid #aec2cd;
	height: 20px;
	padding: 0 3px
}

.HT_tables tr th {
	height: 25px;
	vertical-align: middle;
	padding-top: 3px;
	background: #f4f5f9;
	filter: progid:DXImageTransform.Microsoft.gradient(enabled=   'enabled',
		startColorstr=   #D3DAE0, endColorstr=   #F4F5F9);
	text-align: center
}

.HT_tables_row {
	background: #ebf3f5
}

.HT_tables_selectRow {
	background: #cddee6
}

td.display_leftalign {
	text-align: center
}

td.display_centeralign {
	text-align: center
}

td.display_rightalign {
	text-align: right
}

.icon-blank {
	background: url('icons/blank.gif') no-repeat
}

.icon-add {
	background: url('icons/edit_add.png') no-repeat
}

.icon-edit {
	background: url('icons/pencil.png') no-repeat
}

.icon-remove {
	background: url('icons/edit_remove.png') no-repeat
}

.icon-save {
	background: url('icons/filesave.png') no-repeat
}

.icon-cut {
	background: url('icons/cut.png') no-repeat
}

.icon-ok {
	background: url('icons/ok.png') no-repeat
}

.icon-no {
	background: url('icons/no.png') no-repeat
}

.icon-cancel {
	background: url('icons/cancel.png') no-repeat
}

.icon-reload {
	background: url('icons/reload.png') no-repeat
}

.icon-search {
	background: url('icons/search.png') no-repeat
}

.icon-print {
	background: url('icons/print.png') no-repeat
}

.icon-help {
	background: url('icons/help.png') no-repeat
}

.icon-undo {
	background: url('icons/undo.png') no-repeat
}

.icon-redo {
	background: url('icons/redo.png') no-repeat
}

.icon-back {
	background: url('icons/back.png') no-repeat
}

.icon-sum {
	background: url('icons/sum.png') no-repeat
}

.icon-first {
	background: url('icons/pagination_first.gif') no-repeat
}

.icon-last {
	background: url('icons/pagination_last.gif') no-repeat
}

.icon-next {
	background: url('icons/pagination_next.gif') no-repeat
}

.icon-prev {
	background: url('icons/pagination_prev.gif') no-repeat
}

div.calendar {
	position: relative
}

.calendar,.calendar table {
	border: 1px solid #556;
	font-size: 2px;
	color: #000;
	cursor: default;
	background: #e3f0fb;
	font-family: tahoma, verdana, sans-serif;
	line-height: 10px
}

.calendar table td {
	font-size: 11px;
	line-height: 10px
}

.calendar .button {
	text-align: center;
	padding: 2px
}

.calendar .nav {
	background: #27b8cb url(menuarrow.gif) no-repeat 100% 100%
}

.calendar thead .title {
	font-weight: bold;
	text-align: center;
	background: #fff;
	color: #000;
	padding: 2px
}

.calendar thead .headrow {
	background: #27b8cb;
	color: #fff
}

.calendar thead .daynames {
	background: #1a9fbf
}

.calendar thead .name {
	border-bottom: 1px solid #556;
	padding: 2px;
	text-align: center;
	color: #000
}

.calendar thead .weekend {
	color: #a66
}

.calendar thead .hilite {
	background-color: #2584c1;
	color: #000;
	border: 1px solid #04f;
	padding: 1px
}

.calendar thead .active {
	background-color: #77c;
	padding: 2px 0 0 2px
}

.calendar tbody .day {
	width: 2em;
	color: #101112;
	text-align: right;
	padding: 2px 4px 2px 2px
}

.calendar tbody .day.othermonth {
	font-size: 80%;
	color: #bbb
}

.calendar tbody .day.othermonth.oweekend {
	color: #fbb
}

.calendar table .wn {
	padding: 2px 3px 2px 2px;
	border-right: 1px solid #000;
	background: #1d90b9
}

.calendar tbody .rowhilite td {
	background: #1a9fbf
}

.calendar tbody .rowhilite td.wn {
	background: #101112
}

.calendar tbody td.hilite {
	background: #1a9fbf;
	padding: 1px 3px 1px 1px;
	border: 1px solid #bbb
}

.calendar tbody td.active {
	background: #15b5c7;
	padding: 2px 2px 0 2px
}

.calendar tbody td.selected {
	font-weight: bold;
	border: 1px solid #000;
	padding: 1px 3px 1px 1px;
	background: #fff;
	color: #000
}

.calendar tbody td.weekend {
	color: #a66
}

.calendar tbody td.today {
	font-weight: bold;
	color: #00f
}

.calendar tbody .disabled {
	color: #999
}

.calendar tbody .emptycell {
	visibility: hidden
}

.calendar tbody .emptyrow {
	display: none
}

.calendar tfoot .footrow {
	text-align: center;
	background: #556;
	color: #fff
}

.calendar tfoot .ttip {
	background: #fff;
	color: #445;
	border-top: 1px solid #556;
	padding: 1px
}

.calendar tfoot .hilite {
	background: #aaf;
	border: 1px solid #04f;
	color: #000;
	padding: 1px
}

.calendar tfoot .active {
	background: #77c;
	padding: 2px 0 0 2px
}

.calendar .combo {
	position: absolute;
	display: none;
	top: 0;
	left: 0;
	width: 4em;
	cursor: default;
	border: 1px solid #655;
	background: #def;
	color: #000;
	font-size: 90%;
	z-index: 100
}

.calendar .combo .label,.calendar .combo .label-IEfix {
	text-align: center;
	padding: 1px
}

.calendar .combo .label-IEfix {
	width: 4em
}

.calendar .combo .hilite {
	background: #acf
}

.calendar .combo .active {
	border-top: 1px solid #46a;
	border-bottom: 1px solid #46a;
	background: #e3f0fb;
	font-weight: bold
}

.calendar td.time {
	border-top: 1px solid #000;
	padding: 1px 0;
	text-align: center;
	background-color: #f4f0e8
}

.calendar td.time .hour,.calendar td.time .minute,.calendar td.time .ampm
	{
	padding: 0 3px 0 4px;
	border: 1px solid #889;
	font-weight: bold;
	background-color: #fff
}

.calendar td.time .ampm {
	text-align: center
}

.calendar td.time .colon {
	padding: 0 2px 0 3px;
	font-weight: bold
}

.calendar td.time span.hilite {
	border-color: #000;
	background-color: #667;
	color: #fff
}

.calendar td.time span.active {
	border-color: #f00;
	background-color: #000;
	color: #0f0
}

input.error {
	border: 1px dotted red;
}

/*主动约访 约访内容提示错误边框变色*/
textarea.error {
	border: 1px dotted red;
}
label.error {
	color: red;
	display: none;
}

div.error {
	position: absolute;
	Border: 1px solid #ff8080;
	font-size: 8pt;
	height: 14px;
	line-height:14px;
	color: #000000;
	background: #fff2f2;
	padding-top: 2px;
}
/*主动约访提示约束样式*/
.padding_bok span.error {
	position: absolute;
	Border: 1px solid #ff8080;
	font-size: 8pt;
	height: 28px;
	color: #000000;
	background: #fff2f2;
	padding-top: -10px;
}

.ac_results {
	padding: 0;
	border: 1px solid #99bbe8;
	background-color: white;
	overflow: hidden;
	z-index: 99999
}

.ac_results ul {
	width: 100%;
	list-style-position: outside;
	list-style: none;
	padding: 0;
	margin: 0
}

.ac_results li {
	margin: 0;
	padding: 2px 5px;
	cursor: default;
	display: block;
	font: menu;
	font-size: 12px;
	line-height: 16px;
	overflow: hidden
}

.ac_loading {
	background: white url('indicator.gif') right center no-repeat
}

.ac_odd {
	background-color: #eee
}

.ac_over {
	background-color: #95d7e7;
	color: #037a1f
}

.readonlytext {
	background-color: #f6f6f6;
	FONT-SIZE: 12px;
	height: 15px;
	color: #626262;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	font-style: normal
}
/*************************閫氱敤瑁呴グ鍣�****************/
.bgsgl_border_left {
	background: url(images/border_right.jpg) right top no-repeat;
}

.bgsgl_border_right {
	background: url(images/border_left.jpg) left top no-repeat;
	height: 36px;
	line-height: 36px;
	font-family: "寰蒋闆呴粦";
	font-size: 18px;
	font-weight: bold;
	color: #fff;
	padding-left: 30px;
}

.bgsgl_border_right_default {
	background: url(images/border_left.jpg) left top no-repeat;
	height: 36px;
	line-height: 36px;
	font-family: "寰蒋闆呴粦";
	font-size: 18px;
	font-weight: bold;
	color: #fff;
	padding-left: 30px;
}

.bgsgl_conter {
	border: solid 1px #7F90B3;
	border-top: none;
	padding: 10px;
}

.qbyj_bgsgl_border_right {
	background: url("images/border_left.jpg") no-repeat scroll left top
		transparent;
	color: #FFFFFF;
	font-family: "寰蒋闆呴粦";
	font-size: 18px;
	font-weight: bold;
	height: 36px;
	line-height: 36px;
	padding-left: 30px;
}
/*************************閫氱敤瑁呴グ鍣�****************/
/*************************閫氱敤瑁呴グ鍣�***************/
.bgsgl_right_list_border {
	border-bottom: solid 4px #99A7BE;
	height: 24px;
	padding-top: 6px;
	clear: both;
}

.bgsgl_right_list_left {
	float: left;
	width: 40%;
	background: url(../images/border_list_bne.jpg) left center no-repeat;
	padding-left: 12px;
	color: #808080;
	font-size: 14px;
	font-family: "寰蒋闆呴粦";
	font-weight: bold;
}

.bgsgl_right_left_move {
	float: right;
	width: 50%;
	text-align: right;
	padding-right: 10px;
}
/************************閫氱敤瑁呴グ鍣�********************/

/************************鍒嗛〉瑁呴グ鍣�*********************/
.current {
	width: 24px;
	height: 24px;
	line-height: 24px;
	display: inline-block;
	background: #ccc;
	margin: 5px;
	color: #fff;
	text-decoration: none;
	font-weight: bold;
	font-family: "寰蒋闆呴粦";
	overflow: hidden;
	text-align: center;
}

td span.disabled {
	width: 24px;
	height: 24px;
	line-height: 24px;
	display: inline-block;
	background: #ccc;
	margin: 5px;
	color: #fff;
	text-decoration: none;
	font-weight: bold;
	font-family: "寰蒋闆呴粦";
	overflow: hidden;
	text-align: center;
}

.main_peag a {
	width: 24px;
	height: 24px;
	line-height: 24px;
	display: inline-block;
	background: #98a6be;
	margin: 5px;
	color: #fff;
	text-decoration: none;
	font-weight: bold;
	font-family: "瀵邦喛钂嬮梿鍛寸拨";
	overflow: hidden;
	text-align: center;
}

.page_a {
	width: 24px;
	height: 24px;
	line-height: 24px;
	display: inline-block;
	background: #98a6be;
	margin: 5px;
	color: #fff;
	text-decoration: none;
	font-weight: bold;
	font-family: "瀵邦喛钂嬮梿鍛寸拨";
	overflow: hidden;
	text-align: center;
}
/************************鍒嗛〉瑁呴グ鍣�*********************/