@charset "utf-8";
/* CSS Document */
.main1_main2_left1{
	width:100%;
	margin:0 10px;
	}
.main1_main2_left1 li{
	padding-bottom:2px;
	}
.main1_lnbox a{
	width:327px;
	height:70px;
	display:block;
	background:url(fex_lnbox1.jpg) left top no-repeat;
	}
.main1_lnbox a:hover{
	width:327px;
	height:70px;
	display:block;
	background:url(fex_lnbox.jpg) left top no-repeat;
	}
.main1_send a{
	width:327px;
	height:70px;
	display:block;
	background:url(send_fax.jpg) left top no-repeat;
	}
.main1_send a:hover{
	width:327px;
	height:70px;
	display:block;
	background:url(send_fax1.jpg) left top no-repeat;
	}
.main1_been a{
	width:327px;
	height:70px;
	display:block;
	background:url(fax_been.jpg) left top no-repeat;
	}
.main1_been a:hover{
	width:327px;
	height:70px;
	display:block;
	background:url(fax_been1.jpg) left top no-repeat;
	}
.main1_main2_right{
	width:99%;
	margin:10px auto;
	}
.main2_border_01 p span{
	font-size:12px;
	color:#999999;
	font-weight:100;
	font-family:"宋体";
	padding-left:10px;
	}
.main2_border_01 p span span{
	font-size:12px;
	color:#ff9900;
	font-weight:100;
	font-family:"宋体";
	padding-left:0px;
	}
.main2_border_02{
	background:url(border_left1.jpg) right bottom no-repeat;
	}
.main2_border_02 .main1_p{
	padding:0;
	margin:0;
	height:30px;
	line-height:30px;
	padding-left:12px;
	background:url(border_left2.jpg) left center no-repeat;
	font-size:14px;
	font-family:"微软雅黑";
	font-weight:bold;
	color:#808080;
	width:20%;
	float:left;
	}
.main2_border_02 .main1_p span{
	font-size:12px;
	color:#999999;
	font-weight:100;
	font-family:"宋体";
	padding-left:10px;
	}
.main2_border_02 .main1_p span span{
	font-size:12px;
	color:#ff9900;
	font-weight:100;
	font-family:"宋体";
	padding-left:0px;
	}
.main1_fax_top{
	width:500px;
	float:right;
	}
.clear2{
	clear:both;
	height:1px;
	width:100%;
	overflow: hidden;
	}
.main1_fax_top{
	font-size:12px;
	color:#6699cc;
	padding-top:0;
	_padding-top:10px;
	height:26px;
	overflow:hidden;
	}
.input_text{
	border:none;
	height:18px;
	line-height:18px;
	_height:16px;
	_line-height:16px;
	_border:solid 1px #f1f1f1;
	background:#f1f1f1;
	padding:0;
	margin:0;
	width:120px;
	font-size:12px;
	color:#cccccc;
	}
.input_text1{
	border:none;
	height:18px;
	line-height:18px;
	_height:16px;
	_line-height:16px;
	_border:solid 1px #f1f1f1;
	background: url(main_sou.jpg) left center no-repeat #f1f1f1;
	padding:0;
	margin:0;
	width:120px;
	font-size:12px;
	color:#cccccc;
	padding-left:28px;
	}
.input_button1{
	border:none;
	height:18px;
	line-height:18px;
	_height:16px;
	_line-height:16px;
	background: url(main_sou.jpg) right center no-repeat;
	;
	padding:0;
	margin:0;
	width:60px;
	}
.main1_main2_right li{
	height:31;
	line-height:31px;
	background:url(border_00_4.jpg) left bottom repeat-x;
	font-size:12px;
	color:#808080;
	background:#f6f5f1;
	}
.main_main2_tba{
	background:#ebebeb;
	margin-top:10px;
	font-size:14px;
	font-family:"微软雅黑";
	font-weight:bold;
	color:#6699cc;
	}
.main2_tba1{
	width:49%;
	padding-left:1%;
	display:inline-block;
	}
.main2_tba2{
	width:12%;
	display:inline-block;
	}
.main_cen_sq{
	background:url(border_00_7.jpg) left bottom repeat-x;
	}
.main_cen_sq a{
	width:48%;
	margin-left:1%;
	display:inline-block;
	color:#999999;
	}
.main2_tab3{
	width:12%;
	display:inline-block;
	}
.main2_tab4{
	color:#ff9900;
	}
.main_peag{
	background:#e0e3ea;
	text-align:center;
	width:99%;
	margin:0 auto;
	}
.main_peag a{
	width:24px;
	height:24px;
	line-height:24px;
	display:inline-block;
	background:#98a6be;
	margin:5px;
	}
/****************发件箱****************/
.main3_tba1{
	width:30%;
	padding-left:1%;
	display:inline-block;
	}
.main3_tba2{
	width:16%;
	display:inline-block;
	}
.main3_cen_sq{
	background:url(border_00_7.jpg) left bottom repeat-x;
	}
.main3_cen_sq a{
	width:29%;
	margin-left:1%;
	display:inline-block;
	color:#999999;
	}
.main3_tab3{
	width:16%;
	display:inline-block;
	}
.main3_tab4{
	color:#ff9900;
	}
.main3_lefts{
	text-decoration:none;
	font-size:12px;
	color:#7f90b3;
	background:url(border_left.jpg) left center no-repeat;
	padding-left:10px;
	}
.main3_right{
	width:26%;
	float:right;
	background:#f6f5f1;
	padding:0 10px;
	margin-top:10px;
	}
.main_maink4{
	background:url(main_sou1.jpg) left top no-repeat;
	height:22px;
	padding-left:50px;
	}
.input_txts{
	border:none;
	height:18px;
	line-height:18px;
	_height:16px;
	_line-height:16px;
	_border:solid 1px #d6d6d6;
	background:#d6d6d6;
	padding:0;
	margin:0;
	width:120px;
	}
.input_buttons{
	border:none;
	height:18px;
	line-height:18px;
	_height:16px;
	_line-height:16px;
	background: none;
	padding:0;
	margin:0;
	width:60px;
	}
.main3_left_01{
	width:70%;
	float:left;
	margin-top:10px;
	}
.main_from_left{
	width:12%;
	text-align:right;
	padding-right:10px;
	font-size:14px;
	color:#999999;
	height:30px;
	line-height:30px;
	}
.main_input{
	border: solid 1px #ccc;
	}
.main_from_right1{
	height:30px;
	line-height:30px;
	font-size:12px;
	color:#999999;
	}
.main_from_right1 a{
	font-size:12px;
	text-decoration:blink;
	color:#999999;
	}
.main_from_right1 a:hover{
	font-size:12px;
	text-decoration:blink;
	color:#6699cc;
	}
.input_button2{
	width:111px;
	height:32px;
	background:url(main_get.jpg) left top no-repeat;
	border:none;
	margin-right:10px;
	}
.input_button3{
	width:111px;
	height:32px;
	background:url(get_main.jpg) left top no-repeat;
	border:none;
	}

.main1_main2_right_khfw{
	width:744px;
	margin:10px auto;
	}
